{% extends 'base.html' %}

{% block content %}

<section class="introduction">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pl-0 pr-0 card mb-4 mt-3 left top">
        <img class="card-img-top" src="{{ data.configuration.group_banner.url }}" alt="Card image cap">
        <div class="card-body">
          <h1>{% block title %} {{ user_info.first_name }} {{ user_info.last_name }} {% endblock title %}</h1>
          <p></p>
          <p class="card-text">{{user_info.description}}</p>
          <p class=" text-muted">Miembro desde <strong>{{user_info.date_joined}}</strong></p>
          {{ user_info.html_page|safe }}
        </div>
      </div>
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
  </div>
</section>

{% endblock content %}