{% extends 'base.html' %}

{% block content %}

<section class="introduction">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card-body">
          <h1>{% block title %} {{ user_info.first_name }} {{ user_info.last_name }} {% endblock title %}</h1>
          <p></p>
          <p class="card-text">{{user_info.description}}</p>
          <p class=" text-muted">Miembro del grupo desde <strong>{{user_info.date_joined.date}}</strong></p>
          {{user_info.html_page|safe}}
        </div>
      </div>
      {% block sidebar %} {% include 'user_side_panel.html' %} {% endblock sidebar %}
    </div>
  </div>
</section>

{% endblock content %}