{% extends "base.html" %}
{% load static %}

{% block panel %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="lead site-heading my-4 mt-3 text-white">{% block title %}Integrantes del grupo{% endblock %}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

  <!-- Intro -->
<section class="introduction bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="mb-4">Los profesionales que pertenecen al Grupo de Óptica y Tratamiento de Señales, de la
                    Universidad Industrial de Santander, trabajan con mucha dedicación en cada una de las áreas de
                    investigación a la cual pertenecen. Nuestros integrantes brindan soporte a cada uno de los
                    estudiantes que se encuentran en formación, ya que estamos capacitados de manera única,
                    con una historia propia y un conocimiento bastante amplio en el área de la óptica.</p>
                {% if users %}
                <h2>Lista de integrantes</h2>

                <div class="btn-group" role="group" aria-label="Filter">
                    <button class="btn btn-outline-success filter-button active" data-filter="all">Todos
                    </button>
                    {% for role in roles %}
                    <button class="btn btn-outline-success filter-button" data-filter="{{role.0}}">{{role.1}}
                    </button>
                    {% endfor %}
                </div>
                <div class="container-full">
                    {% for user in users %}
                    <div class="card mt-4 filter {{user.role}}">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="{% if user.picture %}{{ user.picture.url }}{% else %}/media/img/user.png{% endif %}" class="card-img" alt="Picture">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'user_detail' user.pk %}">
                                        <i class="fa fa-user"></i> {{ user.first_name }} {{ user.last_name }}</a>
                                    </h5>
                                    <p class="card-text">{{ user.description | safe }}</p>
                                    <small class="text-muted"><i class="fa fa-building"></i> {{ user.school }} | <i class="fa fa-envelope"></i> <a href="mailto:{{ user.email }}">{{user.email }}</a> {% if user.phone_number %}| <i class="fa fa-mobile"></i> <a href="tel:{{ user.phone_number }}">{{ user.phone_number }}</a>{% endif %}</small>
                                    <p class="card-text"><small class="text-muted">Usuario desde {{ user.date_joined.date }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block extra_scripts %}
  <script>
  $(document).ready(function(){
    $(".filter-button").click(function(){
      var value = $(this).attr('data-filter');
      if(value == "all")
      {
        $('.filter').removeClass('hidden');
        $('.filter').show('3000');
      }
      else
      {
        $('.filter[filter-item="'+value+'"]').removeClass('hidden');
        $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
        $(".filter").not('.'+value).hide('3000');
        $('.filter').filter('.'+value).show('3000');
      }
      if ($(".filter-button").removeClass("active")) {
        $(this).removeClass("active");
      }
      $(this).addClass("active");
    });
  });
  </script>

{% endblock %}