{% extends "base.html" %} 

{% block panel %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class="lead site-heading my-4 mt-3 text-white">{% block title %} Áreas de investigación del GOTS {% endblock %}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

<section class="introduction">
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12">
                {% if researcharea_list %}
                {% for item in researcharea_list %}
                <div class="card mt-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ item.area }}</h2>
                        <p class="card-text mb-4">{{item.description}}</p>
                        <a href="{% url 'researcharea_detail' item.slug  %}" class="btn btn-success">Leer Más &rarr;</a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="alert alert-light" role="alert">
                    <h4 class="alert-heading">Nadie ha creado una entrada aun!</h4>
                    <p class="mb-0">Para crear una entrada debes tener una cuenta, si la tienes te invito a que crees tu primera entrada.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{%endblock%}