{% extends "base.html" %}
{% load static %}

{% block panel %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1 class=" site-heading my-4 mt-3 text-white">{% block title %} Simulaciones producidas en el GOTS {% endblock %}</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

<section class="introduction">
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="{% static 'img/raytracing_logo.png' %}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">Software de diseño óptico</h5>
                                <p class="card-text">Software para el diseño de sistemas ópticos formadores o no formadores de imágenes, que hace uso de un método de trazado de rayos exacto. El enfoque usado para el desarrollo de este software es el uso de las superficies cartesianas u ovoides de Descartes.</p>
                                <a href="{% url 'raytracing_simulation' %}" class="btn btn-primary"><i class="fas 9x fa-laptop-code"></i> Acceder</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}